body{
    background-color: #d1d5df9d;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
}
*{
    transition: all 1s ease-in;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-main{
    transition: none;
    position: relative;
    left: 3%;
    margin-top: 5%;
    background: #00030a;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    padding: 3;
    z-index: 2;
    width: 400px;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;
}
.head{
    background-color: #000;
    width: 100%;
    text-align: center;
    color: black;
}
.head h1{
    color: #ffffff;
}
.content{
    background: #cccc;
    height: 60vh;
    width: 400px;
    overflow: auto;
}
.form-container{
    background-color: #000;
    height: 8vh;
    display: inline-flex;
}
textarea{
    height: 50px;
    position: relative;
    left: 0px;
    border: 2px solid white;
    border-radius: 1px;
    box-sizing: border-box;
    padding: 1px;
    text-align: center;
    top: 1px;
    width: 309.8px;
}
input{
    position: relative;
    left: -1px;
    top: -19px;
    background: rgb(0, 0, 0);
    color: white;
    width: 83.5px;
    height: 4vh;
    border-radius: 1px;
    border: 1px solid transparent;
}
.message{
    background-color: white;
    padding: 10px 20px;
    margin: 20px 0 0 280px;
    width: max-content;
    max-width: 300px;
    word-wrap: break-word;
    height: max-content;
    border-radius: 20px;
}

.message_two{
    background-color: rgb(1, 8, 22);
    padding: 10px 20px;
    margin: 20px 0 0 10px;
    width: max-content;
    max-width: 120px;
    word-wrap: break-word;
    height: max-content;
    border-radius: 20px;
    color: #ffffff;
}